@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'pathway-gothic';
  src: url('./assets/fonts/Pathway_Gothic_One/PathwayGothicOne-Regular.ttf');
}

@font-face {
  font-family: 'alternate-gothic';
  src: url('./assets/fonts/Alternate_Gothic/AlternateGotNo1D.ttf');
}

@font-face {
  font-family: 'europa-grotesk-sh-med';
  src: url('./assets/fonts/EuropaGroteskSH-Med/EuropaGroteskSH-Med.otf');
}

@font-face {
  font-family: 'fusion-sans';
  src: url('./assets/fonts/fusion-sans/PFFusionSansPro-Black-subset.otf');
}

@font-face {
  font-family: 'montserrat-regular';
  src: url('./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'fairweather';
  src: url('./assets/fonts/fonts/fonnts.com-Fairweather_Regular.otf');
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font-family: 'alternate-gothic', sans-serif;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.scroll-bar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.bg-cover {
  background-image: url('./assets/images/cover.png');
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

.bg-moon {
  background-image: url('assets/images/moon.png');
  background-repeat: no-repeat;
  border-radius: 100%;
}

.content-area {
  --g: 0;
  --s: 820px;

  display: grid;
  border-radius: 50%;
  /* background-color: #4f4c52;
  padding-top: 1em;
  padding-bottom: 1em; */
}

.content {
  grid-area: 1/1;
  width: var(--s);
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  transform: translate(var(--_x,0),var(--_y,0));
  cursor: pointer;
  font-size: 0;
  z-index: 0;
  transition: .3s, z-index 0s .3s;
  color: black;
  background-color: #e5e5e5;
}

.content:nth-child(1) {
  clip-path: polygon(50% 50%,.5em 1.2em,0 1em,0 0,100% 0,100% 1em,calc(100% - .5em) 1.2em);
  --_y: calc(-1*var(--g))
}

.content:nth-child(2) {
  clip-path: polygon(50% 50%,calc(100% - 1.2em) 0.5em,calc(100% - 1em) 0,100% 0,100% 100%,calc(100% - 1em) 100%,calc(100% - 1.2em) calc(100% - .5em));
  --_x: var(--g)
}

.content:nth-child(3) {
  clip-path: polygon(50% 50%,calc(100% - .5em) calc(100% - 1.2em),100% calc(100% - 1.2em),100% 100%,0 100%,0 calc(100% - 1em),.5em calc(100% - 1.2em));
  --_y: var(--g)
}

.content:nth-child(4) {
  clip-path: polygon(50% 50%,1.2em .5em,1em 0,0 0,0 100%,1em 100%,1.2em calc(100% - .5em));
  --_x: calc(-1*var(--g))
}

.clip1 {
  grid-area: 1/1;
  width: var(--s);
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  transform: translate(var(--_x,0),var(--_y,0));
  cursor: pointer;
  font-size: 0;
  z-index: 0;
  transition: .3s, z-index 0s .3s;
  color: black;
  background-color: #4f4c52;
  clip-path: polygon(50% 50%,.5em 1.2em,0 1em,0 0,100% 0,100% 1em,calc(100% - .5em) 1.2em);
  --_y: calc(-1*var(--g));
  transition: all 0.5s ease-in-out;
  border: 5em solid #4f4c52;
  margin: 3em;
}

.clip1:hover{
  -webkit-transform: scale(1.03, 1.03);
  transform: scale(1.03, 1.03);
  /* transform: scale(.8, .8); */
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  background-color: #4f4c52;
  box-sizing: border-box;
  clip-path: polygon(50% 50%,.5em 1.2em,0 1em,0 0,100% 0,100% 1em,calc(100% - .5em) 1.2em);
  --_y: calc(-1*var(--g));
  /* box-shadow: 20em 20px 20px 20px rgba(255, 255, 255, 1); */
}

.clip2:hover {
  -webkit-transform: scale(1.03, 1.03);
  transform: scale(1.03, 1.03);
}

.clip3:hover {
  -webkit-transform: scale(1.03, 1.03);
  transform: scale(1.03, 1.03);
}

.clip4:hover {
  -webkit-transform: scale(1.03, 1.03);
  transform: scale(1.03, 1.03);
}

.clip2 {
  grid-area: 1/1;
  width: var(--s);
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  transform: translate(var(--_x,0),var(--_y,0));
  cursor: pointer;
  font-size: 0;
  z-index: 0;
  transition: .3s, z-index 0s .3s;
  color: black;
  background-color: transparent;
  clip-path: polygon(50% 50%,calc(100% - 1.2em) 0.5em,calc(100% - 1em) 0,100% 0,100% 100%,calc(100% - 1em) 100%,calc(100% - 1.2em) calc(100% - .5em));
  --_x: var(--g)
}

.clip3 {
  grid-area: 1/1;
  width: var(--s);
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  transform: translate(var(--_x,0),var(--_y,0));
  cursor: pointer;
  font-size: 0;
  z-index: 0;
  transition: .3s, z-index 0s .3s;
  color: black;
  background-color: transparent;
  clip-path: polygon(50% 50%,calc(100% - .5em) calc(100% - 1.2em),100% calc(100% - 1.2em),100% 100%,0 100%,0 calc(100% - 1em),.5em calc(100% - 1.2em));
  --_y: var(--g)
}

.clip4 {
  grid-area: 1/1;
  width: var(--s);
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  transform: translate(var(--_x,0),var(--_y,0));
  cursor: pointer;
  font-size: 0;
  z-index: 0;
  transition: .3s, z-index 0s .3s;
  color: black;
  background-color: transparent;
  clip-path: polygon(50% 50%,1.2em .5em,1em 0,0 0,0 100%,1em 100%,1.2em calc(100% - .5em));
  --_x: calc(-1*var(--g))
}

.container {
  position: relative;
  width: 600px;
  height: 600px;
  background-color: #e5e5e5;
  border-radius: 50%;
  /* border: 4px solid #e5e5e5; */
  /* box-shadow: 0 0 0px 10px #e5e5e5; */
}

.close:hover {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
}

.moon1{
  top: 10%;
  /* right: 0; */
  display: block;
  width: 60%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background-image: url('assets/images/moon.png');
  background-repeat: repeat-x;
  background-size: 110% 100%;
  opacity: 0.8;
  animation-name: moonRotation;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards !important;
  box-shadow: inset -10px 8px 6px -5px #ffffff, 
inset 20px -20px 40px 30px rgba(0, 0, 0, 0.9), 7px -6px 14px rgba(255, 255, 255, 0.3215686275);
}

iframe {
  width: 100%!important;
}

@keyframes moonRotation {
    0% {
		background-position: 0% 0%;
    border: 0px solid #00000000;
	}
	50% {
		background-position: 150% 0%;
    border: 0px solid #00000000;
	}
	100% {
		background-position: 300% 0%;
    border: 0px solid #00000000;
	}
}

.card {
    height: 100%;
    width: 100%;
    display: inline-block;
}

.img-team:hover {
  background-color: rgba(0,0,0,0.5);
}

.card-blur {
    position: absolute;
    height: 100%;
    width: calc(100% + 1px);
    background-color: black;
    opacity: 0;
    transition: opacity 0.15s ease-in;
}

.footer {
    margin-top: -15vh;
    background: rgba(0,0,0,0.6);
}

.info {
	/* font-family: Inconsolata; */
    padding-left: 20px;
    opacity: 0;
    transform: translateY(30px);
    
    transition: transform 1s cubic-bezier(.31,1.21,.64,1.02);
}

.card:hover .info {
    transform: translateY(0px);
    opacity: 1;
    /* transition: .5s; */
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.img-client:hover {
  transform: scale(0.9);
  transition: 0.5s;
}

#serv_hover:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}

.text-about:hover {
  transition: .5s;
  padding-left: 2.5em;
}

.text-work:hover {
  transition: .5s;
  padding-left: 12em;
}

.text-service:hover {
  transition: .5s;
  margin-left: -9em;
}

.text-contact:hover {
  transition: .5s;
  padding-left: 3.5em;
}

.teams {
  position: relative;
  color: white;
}

.teams .overlay {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.3s;
  padding: 0 3em;
}

.teams:hover .overlay {
  opacity: 1;
}

@media (min-width: 1500px) and (max-width: 1699px) {
  .content-area {
    --s: 800px
  }

  .moon1 {
    width: 80%;
  }
}

@media (min-width: 1300px) and (max-width: 1499px) {
  .content-area {
    --s: 800px;
  }

  .moon1 {
    width: 80%;
  }
}

@media (min-width: 1200px) and (max-width: 1299px) {
  .content-area {
    --s: 600px;
  }

  .moon1 {
    width: 80%;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  .bg-cover {
    background-size: cover;
  }
  .content-area {
    --s: 540px;
  }
  .moon1 {
    width: 80%;
    height: 60%;
  }
}

@media (min-width: 700px) and (max-width: 999px) {
  .bg-cover {
    background-image: url('assets/images/cover-mobile.png');
    background-size: cover;
  }
  .content-area {
    --s: 600px;
  }
  .moon1 {
    width: 80%;
    height: 60%;
  }
}

@media (min-width: 500px) and (max-width: 699px) {
  .bg-cover {
    background-image: url('assets/images/cover-mobile.png');
    background-size: cover;
  }
  .content-area {
    --s: 500px;
  }

  .moon1 {
    width: 70%;
    height: 40%;
  }
}

@media (max-width: 499px) {
  .bg-cover {
    background-image: url('assets/images/cover-mobile.png');
    background-size: cover;
  }
  .content-area {
    --s: 400px;
  }
  .moon1 {
    width: 80%;
    height: 40%;
  }
}

@media (max-width: 390px) {
  .bg-cover {
    background-size: cover;
  }
  .content-area {
    --s: 360px;
  }
}